{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Modification de mot de
                    passe</h1>
                <a href="{{ path('account') }}" class="mt-3 text-green-500 inline-flex items-center">
                    <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                    </svg>
                    Retourner à mon compte
                </a>
            </div>
            {{ form_start(form) }}
            <div class="lg:w-3/3 flex flex-col flex-wrap">
                {% if notification %}
                    <div class="text-white w-1/2 flex flex-row px-6 py-4 border-0 rounded relative mb-4 bg-blue-500">
                      <span class="text-xl inline-block mr-5 align-middle">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                      </span>
                        <span class="inline-block align-middle mr-8">
                            <b class="capitalize">Hmm !</b> {{ notification }}
                          </span>
                    </div>
                {% endif %}
                <div class="relative w-1/2">
                    <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-600">Email</label>
                        {{ form_widget(form.email, {'attr': {'class': 'w-full bg-gray-200 cursor-not-allowed rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'}}) }}
                    </div>
                </div>
                <div class="relative w-1/2">
                    <label for="email" class="leading-7 text-sm text-gray-600">Nom</label>
                    {{ form_widget(form.lastname, {'attr': {'class': 'w-full bg-gray-200 cursor-not-allowed rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'}}) }}
                </div>
                <div class="relative w-1/2">
                    <label for="email" class="leading-7 text-sm text-gray-600">Prénom</label>
                    {{ form_widget(form.firstname, {'attr': {'class': 'w-full bg-gray-200 cursor-not-allowed rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'}}) }}
                </div>
                <div class="relative w-1/2">
                    <label for="email" class="leading-7 text-sm text-gray-600">Password</label>
                    {{ form_widget(form.old_password, {'attr': {'class': 'w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'}}) }}
                </div>
                {# <div class="relative w-1/2"> #}
                {# </div> #}
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
