{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Rejoignez une communauté de 60 000 utilisateurs et commencer vos achats dès maintenant.</h1>
            <p class="leading-relaxed mt-4">Cras eu convallis felis. Etiam ante lacus, dapibus quis odio ac, placerat posuere quam. Vestibulum in arcu sit amet est pharetra egestas sed nec tortor.</p>
        </div>
        <form class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0" method="post">
            {% if error %}
                <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Connexion</h2>
            <div class="relative mb-4">
                <label for="inputEmail" class="leading-7 text-sm text-gray-600">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required autofocus>
            </div>
            <div class="relative mb-4">
                <label for="inputPassword" class="leading-7 text-sm text-gray-600">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg" type="submit">Button</button>
        </form>
    </div>
</section>
{% endblock %}
